<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <style media="screen" type="text/css">
        /* @media only screen and (max-width: 767px) { */
        
        table figure {
            width: auto !important;
        }
        
        table figure img {
            width: auto !important;
        }
        
        table div {
            width: 95% !important;
        }
        /* } */
    </style>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
</head>

<body style="background-color:#FFF;">
    <div style="padding:0 3%;margin: 0 auto;max-width: 800px;">
        <table style="width: 100%;">
            <tr class="hdr">
                <td style="text-align:center">
                    <figure style="padding:0;margin:0;background-color: #fff!important;">
                        <img src="admin/img/logo_tiger.png" alt="Tiger Soft">
                    </figure>
                </td>
            </tr>
            <tr>

                <td>

                    <p>
                        <strong> Nombre: </strong> {nombre}
                    </p>

                    <p>
                        <strong> DNI: </strong> {dni}
                    </p>

                    <p>
                        <strong> RUC: </strong> {ruc}
                    </p>

                    <p>
                        <strong> Email: </strong> {email}
                    </p>

                    <p>
                        <strong> Telefono: </strong> {telefono}
                    </p>

                    <p>
                        <strong> Mensaje: </strong> {mensaje}
                    </p>

                </td>

            </tr>

            <tr>
                <td>
                    <hr>
                </td>
            </tr>
            <tr>
                <td style="font-size:.85rem ;">
                    <h4>Contáctanos</h4>
                    <p> <strong> Direccion: </strong> Lima - Peru </p>
                    <p> <strong> Email: </strong> <a href="mailto:administracion@corptigersoft.com.pe">administracion@corptigersoft.com.pe</a></span>
                    </p>
                    <p> <strong> Teléfonos: </strong><a class="link-black" href="tel:015587912">(01) 5587912</a>&nbsp; Cel.: <a class="link-black" href="tel:+51971257642">971 257 642</a></p>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>