<!doctype html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <style media="screen" type="text/css">
    /* @media only screen and (max-width: 767px) { */
    table figure {
      width: auto !important;
    }

    table figure img {
      width: auto !important;
    }

    table div {
      width: 95% !important;
    }

    /* } */
  </style>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
</head>

<body style="background-color:#FFF;">
  <div style="padding:0 3%;margin: 0 auto;max-width: 800px;">
    <table style="width: 100%;">
      <tr class="hdr">
        <td style="text-align:center">
          <figure style="padding:0;margin:0;background-color: #fff!important;">
            <img src="http://hostalcostanorte.com.pe/img/logo-hostal-costa-norte.png" alt="Hostal Costa Norte">
          </figure>
        </td>
      </tr>
      <tr>

        <td>
          <p>
            <strong> Tipo Habitacion: </strong> {habitacion_nombre}
          </p>

          <p>
            <strong> Cantidad: </strong> {cantidad}
          </p>

          <p>
            <strong> Ciudad Origen: </strong> {cuidad_origen}
          </p>

          <p>
            <strong> Fecha Llegada: </strong> {fecha_llegada}
          </p>

          <p>
            <strong> Fecha Salida: </strong> {fecha_salida}
          </p>

          <p>
            <strong> Nombre: </strong> {nombre}
          </p>

          <p>
            <strong> Apellidos: </strong> {apellidos}
          </p>

          <p>
            <strong> Email: </strong> {email}
          </p>

          <p>
            <strong> Telefono: </strong> {telefono}
          </p>
        </td>

      </tr>

      <tr>
        <td>
          <hr>
        </td>
      </tr>
      <tr>
        <td style="font-size:.85rem ;">
          <h4>Contactanos</h4>
          <p> <strong> Dirección: </strong> Ca. Leoncio Prado 925 (A 20 metros de llegar a la Av. Balta), Chiclayo - Peru </p>
          <p> <strong> Email: </strong> <a href="mailto:reservas@hostalcostanorte.com.pe">reservas@hostalcostanorte.com.pe</a></span> </p>
          <p> <strong> Teléfonos: </strong><a class="link-black" href="tel:074526964">(074) 526964</a>&nbsp;  Cel.: <a class="link-black" href="tel:+51947973488">947 973 488</a></p>
        </td>
      </tr>
    </table>
  </div>
</body>

</html>