.table {
  border-collapse: separate;
  border-spacing: 0;

  thead th,
  thead td {
    font-size: 0.85rem;
    font-weight: 600;
  }

  tbody td {
    font-size: 0.85rem;
  }
}

/* .table-orange {

  thead th {
    border-top: 1px solid #F59D24;
    border-bottom: 1px solid #F59D24;
  }

  thead tr th+th {
    border-right: 0;
  }

  thead tr:first-child th:first-child {
    border-left: 1px solid #F59D24;
    border-top-left-radius: 5px !important;
  }

  thead tr:first-child th:last-child {
    border-right: 1px solid #F59D24;
    border-top-right-radius: 5px !important;
  }

  tbody tr:first-child td,
  tbody tr:first-child th {
    border-top: 0 !important;
  }
} */